@model STrackerServer.Models.Season.SeasonView

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span3"> 
            <img class="img-rounded" src="@Model.Poster" alt="No Artwork"/>  
         
            <div class="extra-padding">
                <div class="box">
                    <a href="@Url.Action("Show","TvShowsWeb", new { tvshowId = Model.TvShowId })">Back</a>
                </div>  
            </div>         
        </div>
        <div class="span6">
            <div class="box">
                <h2>Season @Model.SeasonNumber</h2>    
                <br/>           
                <table class="table">
                    <tr>
                        <th>Number</th>
                        <th>Name</th>
                        <th></th>
                    </tr>
        
                    @foreach(var episode in Model.EpisodeList)
                    {
                        <tr>
                            <td>
                                @episode.EpisodeNumber
                            </td>
                            <td>
                                @episode.Name
                            </td>
                            <td>
                                <a href="@Url.Action("Show","EpisodesWeb", new
                                    {
                                        tvshowId = Model.TvShowId, 
                                        seasonNumber = Model.SeasonNumber, 
                                        number = episode.EpisodeNumber
                                    })">Link</a>
                            </td>
                        </tr>  
                    }
                </table>
            </div>
        </div>  
    </div>
</div>