@model STrackerServer.Models.Season.SeasonView

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span3"> 
            @Html.Action("TvShowPartialOptions","TvShowsWeb", new
                {
                    tvshowId = this.Model.TvShowId,
                    unsubscribeRedirectUrl = Url.Action("Show","SeasonsWeb", new
                        {
                            tvshowId = Model.TvShowId,
                            number = Model.SeasonNumber
                        })
                })       
        </div>
        <div class="span6">
            <div class="box">
                <h2>Season @Model.SeasonNumber</h2>    
                <br/>           
                <table class="table table-condensed">
                    <tr>
                        <th>Number</th>
                        <th>Name</th>
                    </tr>
        
                    @foreach(var episode in Model.EpisodeList)
                    {
                        <tr>
                            <td>
                                @episode.CommentsEpisodeNumber
                            </td>
                            <td>
                                <a href="@Url.Action("Show","EpisodesWeb", new
                                             {
                                                 tvshowId = Model.TvShowId, 
                                                 seasonNumber = Model.SeasonNumber, 
                                                 number = episode.CommentsEpisodeNumber
                                             })">@episode.Name</a>
                            </td>
                        </tr>  
                    }
                </table>
            </div>
        </div>      
    </div>
</div>
