@model STrackerServer.Models.Episode.EpisodeComment

@{
    ViewBag.Title = "Comment";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span3">
            <img class="img-rounded" src="@Model.Poster" alt="No Artwork"/>  

            <div class="extra-padding"></div>
            <p>
                <a class="btn btn-block btn-primary" href="@Url.Action("Comments","Episodes", new { tvshowId = Model.TvShowId, seasonNumber = Model.SeasonNumber, episodeNumber = Model.EpisodeNumber })">Comments</a>
            </p>
        </div> 
        <div class="span6">
            <h2>Comment</h2>
            <div class="box">
                <div class="box-whiter">
                     @Model.Body
                </div>
                @using (Html.BeginForm("RemoveComment", "Episodes"))
                {
                    @Html.Hidden("tvshowId", Model.TvShowId)
                    @Html.Hidden("seasonNumber", Model.SeasonNumber)
                    @Html.Hidden("episodeNumber", Model.EpisodeNumber)
                    @Html.Hidden("Id", Model.Id)
                    <input class="btn btn-danger" type="submit" value="Remove"/>
                }  
            </div>  
        </div>
    </div>
</div>
