@model STrackerServer.Models.Episode.EpisodeRating

@{
    ViewBag.Title = "Rate";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span3">
            <img class="img-rounded" src="@Model.Poster" alt="No Artwork"/>  

            <div class="extra-padding"></div> 

            <p>
                <a class="btn btn-block btn-primary" href="@Url.Action("Index","Episodes", new { tvshowId = Model.TvShowId, seasonNumber = Model.SeasonNumber, episodeNumber = Model.EpisodeNumber })">Season: @Model.SeasonNumber Episode: @Model.EpisodeNumber</a>
            </p> 
        </div> 
        <div class="span6">
            <div class="box">
                <h2>@Model.Name</h2> 
                <br/>
                <p><b>Rating: </b> @Model.Rating/5 (from @Model.Count Users)</p> 

                @Html.ValidationSummary()
                @using (Html.BeginForm("Rate", "Episodes"))
                {
                    @Html.HiddenFor(rating => rating.TvShowId)
                    @Html.HiddenFor(rating => rating.SeasonNumber)
                    @Html.HiddenFor(rating => rating.EpisodeNumber)

                    @Html.HiddenFor(rating => rating.Poster)
                    @Html.HiddenFor(rating => rating.Name)
                    @Html.HiddenFor(rating => rating.Rating)
                    @Html.HiddenFor(rating => rating.Count)
                    
                    
                    <div class="form-inline" style="display: inline">
                        <div style="display: inline-block">
                            <b>Your Rating: </b>
                        </div>
                        <div style="display: inline-block">
                            @Html.EditorFor(rating => rating.Value)
                        </div>
                        <div style="display: inline-block">
                            <input class="btn btn-danger" type="submit" value="Rate"/>
                        </div>
                    </div>
                }  
            </div>
        </div>
    </div>
</div>