@model STrackerServer.Models.Season.SeasonView

@{
    ViewBag.Title = "Season: " + Model.SeasonNumber ;
    Layout = "~/Views/Shared/MainLayout.cshtml";
}

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span3"> 
            <img class="img-rounded" src="@Model.Poster" alt="No Artwork"/>  
        </div>
        <div class="span6">
            <div class="box">
                <h2><a href="@Url.Action("Index","TvShows", new { id = Model.TvShowId })">@Model.TvShowName</a></h2>   
                <h4>Season @Model.SeasonNumber</h4>    
                <br/>           
                <table class="table table-condensed">
                    <tr>
                        <th>Number</th>
                        <th>Name</th>
                    </tr>
        
                    @foreach(var episode in Model.EpisodeList)
                    {
                        <tr>
                            <td>
                                @episode.Id.EpisodeNumber
                            </td>
                            <td>
                                <a href="@Url.Action("Index","EpisodesWeb", new
                                             {
                                                 tvshowId = Model.TvShowId, 
                                                 seasonNumber = Model.SeasonNumber, 
                                                 episodeNumber = episode.Id.EpisodeNumber
                                             })">@episode.Name</a>
                            </td>
                        </tr>  
                    }
                </table>
            </div>
        </div>      
    </div>
</div>
