@model STrackerServer.Models.Season.SeasonView

@{
    ViewBag.Title = "Season: " + Model.SeasonNumber ;
    Layout = "~/Views/Shared/MainLayout.cshtml";
}

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span3"> 
            <img class="img-rounded" src="@Model.Poster" alt="No Artwork"/>  
            <div class="extra-padding"></div>
            
                @if (User.Identity.IsAuthenticated)
                {
                    if (Model.IsSubscribed)
                    {
                        using (Html.BeginForm("Watched", "Seasons", new { tvshowId = Model.TvShowId, seasonNumber = Model.SeasonNumber }))
                        {
                            <input class="btn btn-block btn-success" type="submit" value="Check Season"/>
                        }
                    }
                }else
                {
                    <a class="btn btn-block btn-success" href="@Url.Action("Login","Account", new { returnUrl =  Url.Action("Index","Seasons", new { tvshowId = Model.TvShowId, seasonNumber = Model.SeasonNumber })})">Check Season</a>
                }
        </div>
        <div class="span6">
            <div class="box">
                <h2><a href="@Url.Action("Index","TvShows", new { id = Model.TvShowId })">@Model.TvShowName</a></h2>   
                <h4>Season @Model.SeasonNumber</h4>    
                <br/>           
                <table class="table table-condensed">
                    <tr>
                        <th>Number</th>
                        <th>Name</th>
                    </tr>
        
                    @foreach(var episode in Model.EpisodeList)
                    {
                        <tr>
                            <td>
                                @episode.Id.EpisodeNumber
                            </td>
                            <td>
                                <a href="@Url.Action("Index","Episodes", new
                                             {
                                                 tvshowId = Model.TvShowId, 
                                                 seasonNumber = Model.SeasonNumber, 
                                                 episodeNumber = episode.Id.EpisodeNumber
                                             })">@episode.Name</a>
                            </td>
                        </tr>  
                    }
                </table>
            </div>
        </div>      
    </div>
</div>
