@model STrackerServer.Models.User.UserPrivateView

@{
    ViewBag.Title = Model.Name;
    Layout = "~/Views/Shared/MainLayout.cshtml";
}

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span3">
            <div class="box">
                <div style="text-align: center">
                    @Model.Name
                </div>
                <div style="text-align: center">
                    <img class="img-rounded" src="@Model.PictureUrl" alt="No Artwork"/>
                </div> 
                
                <div class="extra-padding"></div>
                <p><a class="btn btn-block btn-primary" href="@Url.Action("Friends","UsersWeb")">Friends</a></p>
                <p><a class="btn btn-block btn-primary" href="@Url.Action("Suggestions","UsersWeb")">Sugestions</a></p>
                <p><a class="btn btn-block btn-primary" href="@Url.Action("Requests","UsersWeb")">Friend Requests</a></p> 
            </div>
        </div>

        <div class="span6">
            <div class="box">
                <h2>Subscriptions</h2> 
                <br/>
                <table class="table table-condensed">
                    
                    <tr>
                        <th>
                            Name  
                        </th>
                        <th>
                        </th>
                    </tr>

                    @if (Model.SubscriptionList.Count != 0)
                    {
                        foreach (var sub in Model.SubscriptionList)
                        {
                            <tr>
                                <td>
                                    <a href="@Url.Action("Show","TvShowsWeb", new { tvshowId = sub.Id })">@sub.Name</a>
                                </td>
                                <td>
                                    @using (Html.BeginForm("UnSubscribe", "UsersWeb", new { tvshowId = sub.Id, redirectUrl = Url.Action("Index", "UsersWeb") }))
                                    {
                                        <div style="text-align: right">
                                            <input class="btn btn-mini btn-danger" type="submit" value="Unsubscribe"/>
                                        </div>
                                    }
                                </td>
                            </tr>
                        }
                    }
                </table>
            </div>
        </div>
    </div>
</div>