@model STrackerServer.Models.User.UserPublicView

@{
    ViewBag.Title = Model.Name;
    Layout = "~/Views/Shared/MainLayout.cshtml";
}

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span3">
            <div class="box">

                <div style="text-align: center">
                    <img class="img-rounded" src="@Model.PictureUrl" alt="No Artwork"/>
                </div> 
                <br/>
                <div style="text-align: center">
                    @Model.Name
                </div>
                <div class="extra-padding">
                </div>
                @if (!Model.IsFriend)
                {      
                    using(Html.BeginForm("Invite","UsersWeb"))
                    {
                        @Html.Hidden("id",Model.Id)
                        <input class="btn btn-block btn-primary" type="submit" value="Invite"/>
                    }
                }
                <p>
                    <a class="btn btn-block btn-primary" href="@Url.Action("PublicFriends","UsersWeb", new { id = Model.Id })">Friends</a>
                </p> 
            </div>
        </div>

        <div class="span6">
            <div class="box">
                <h2>Subscriptions</h2> 
                <br/>
                <table class="table table-condensed">
                    @if (Model.SubscriptionList.Count != 0)
                    {
                        foreach (var sub in Model.SubscriptionList)
                        {
                            <tr>
                                <td>
                                    <a href="@Url.Action("Show","TvShowsWeb", new { tvshowId = sub.TvShow.Id })">@sub.TvShow.Name</a>
                                </td>
                            </tr>
                        }
                    }
                </table>
            </div>
        </div>
    </div>
</div>