<p><a class="btn btn-block btn-primary" href="@Url.Action("Friends","User")">Friends</a></p>
<p><a class="btn btn-block btn-primary" href="@Url.Action("Suggestions","User")">Sugestions</a></p>
<p><a class="btn btn-block btn-primary" href="@Url.Action("Calendar","User")">Download .ics</a></p>  
<p><a class="btn btn-block btn-primary" href="@Url.Action("FriendRequests","User")">Friend Requests</a></p> 
<p><a class="btn btn-block btn-primary" href="@Url.Action("WatchedEpisodes","User")">Episodes Watched</a></p>  