@model STrackerServer.Models.TvShow.TvShowComment

@{
    ViewBag.Title = "Comment";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span3">
            <img class="img-rounded" src="@Model.Poster" alt="No Artwork"/>  

            <div class="extra-padding"></div>
            <p>
                <a class="btn btn-block btn-primary" href="@Url.Action("Comments","TvShows", new { id = Model.TvShowId })">Comments</a>
            </p>
        </div> 
        <div class="span6">
            <h2>Comment</h2>
            <div class="box">
                <div class="box-whiter">
                     @Model.Body
                </div>
                @using (Html.BeginForm("Comment", "TvShows"))
                {
                    @Html.HiddenFor(comment => comment.Body)
                    @Html.HiddenFor(comment => comment.Id)
                    @Html.HiddenFor(comment => comment.Poster)
                    @Html.HiddenFor(comment => comment.TvShowId)
                    @Html.HiddenFor(comment => comment.UserId)

                    <input class="btn btn-danger" type="submit" value="Remove"/>
                }  
            </div>  
        </div>
    </div>
</div>