@model STrackerServer.Models.TvShow.TvShowSearchResult

@{
    ViewBag.Title = "Search Result";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}

<div class="container-fluid center">
    
    @if (Model.Result.Count == 0)
    {
        <div class="row-fluid">
            <div class="span3"></div>
            <div class="span6">
                <div class="box center">
                    We don't have the information you asked at the moment.
                </div>      
            </div>
        <div class="span3"></div>
    </div>
    }
    else
    {
        for (var i = 0; i < Math.Ceiling(Model.Result.Count / (double)6); i++)
        {
            <div class="row-fluid">
                @for (var index = 6*i; (index < (6 * (i+1))) && index < Model.Result.Count; index++)
                {
                    <div class="span2" style="text-align: center">
                        <div class="box-whiter">
                            <div class="row-fluid">
                                <a href="@Url.Action("Index", "TvShows", new { id = @Model.Result.ElementAt(index).Id })">
                                    <img src="@Model.Result.ElementAt(index).Poster" alt="No Image"/>
                                </a>
                            </div>
                        </div>
                    </div>
                }     
            </div>
        }
        
        <div class="row-fluid">
            <div class="span4"></div>
            <div class="span2">
                @if (Model.CurrentPage != 0)
                {
                    <a class="btn btn-block btn-primary" href="@string.Format("TvShows?name={0}&page={1}", Model.SearchValue, Model.CurrentPage - 1)">Previous</a>
                }
                else
                {
                    <a class="btn btn-block btn-primary disabled" href="#">Previous</a>
                }
             </div>
            <div class="span2">
                @if (Model.HasMoreTvShows)
                {
                    <a class="btn btn-block btn-primary" href="@string.Format("TvShows?name={0}&page={1}", Model.SearchValue, Model.CurrentPage + 1)">Next</a>
                }
                else
                {
                    <a class="btn btn-block btn-primary disabled" href="#">Next</a>
                }
                
            </div>
             <div class="span4"></div>
        </div>
    }
</div>
