@model STrackerServer.Models.TvShow.TvShowView

@{
    ViewBag.Title = @Model.Name;
    Layout = "~/Views/Shared/TvShowLayout.cshtml";
}

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span3">
            <img class="img-rounded" src="@Model.Poster" alt="No Artwork"/>  

            <div class="extra-padding"></div> 
            @if (User.Identity.IsAuthenticated)
            {
                using (Html.BeginForm("Subscribe", "TvShows", new { id = Model.TvShowId }))
                {
                    @Html.Hidden("RedirectUrl", Url.Action("Index","TvShows", new { id = Model.TvShowId }))

                    if (Model.IsSubscribed)
                    {
                        @Html.Hidden("isSubscribing", false)
                        <input class="btn btn-block btn-danger" type="submit" value="Unsubscribe"/>
                    }else
                    {
                        @Html.Hidden("isSubscribing", true)
                        <input class="btn btn-block btn-success" type="submit" value="Subscribe"/>
                    }  
                }  
            }else
            { 
                <a class="btn btn-block btn-success" href="@Url.Action("Login","Account", new { returnUrl =  Url.Action("Index","TvShows", new { id = Model.TvShowId })})">Subscribe</a>
                <div class="extra-padding"></div> 
            }
            
            <p>
                <a class="btn btn-block btn-primary" href="@Url.Action("Suggest","TvShows", new { id = Model.TvShowId })">Suggest</a>
            </p>  
            <p>
                <a class="btn btn-block btn-primary" href="@Url.Action("Comments","TvShows", new { id = Model.TvShowId })">Comments</a>
            </p>
        </div> 
        <div class="span6">
            <div class="box">
                <h2>
                    @Model.Name
                    @for (int i = 1; i < @Model.Rating+1; i++)
                    {
                        <img data-star-value="@i" class="star" src="@Url.Content("~/Content/images/star.png")" alt="star"/>
                    }
                    @for (int i = Model.Rating+1; i < 6; i++)
                    {
                        <img data-star-value="@i" class="star" src="@Url.Content("~/Content/images/star_white.png")" alt="star"/>
                    }
                    <a id="rating-link" style="font-size: 17px" href="@Url.Action("Rate","TvShows", new { id = Model.TvShowId })">
                        Rate
                    </a>
                </h2>
                <br/>
                <p>@Model.Description</p> 
                @if (User.Identity.IsAuthenticated && Model.UserRating != -1)
                {
                    <p><b>Your Rating: </b> @Model.UserRating/5</p>
                }
                
                <p><b>First Aired: </b> @Model.FirstAired</p>
                <p><b>Air Day: </b> @Model.AirDay</p>
                <p><b>Runtime: </b> @Model.Runtime min</p>              
                <p><a href="http://www.imdb.com/title/@Model.TvShowId">IMDB</a></p>  

                <p><b>Genre:</b></p>
                <ul>
                    @foreach(var genre in Model.Genres)
                    {
                        <li>
                            <a class="genre" href="@Url.Action("Index","Genres", new { id = genre.Id })">@genre.Id</a>
                        </li>            
                    }
                </ul>
            </div>     
            <div class="box">
                <b> Seasons:</b>
                
                @foreach (var season in Model.SeasonSynopses)
                {
                    <a href="@Url.Action("Index", "Seasons", new { tvshowId = season.Id.TvShowId, seasonNumber = season.Id.SeasonNumber })">@season.Id.SeasonNumber</a><b> | </b>
                }
            </div>
            <div id="display-season" class="box hide">
                <div style="text-align: right">
                    <button class="btn-link" id="display-hide">Close</button>
                </div>         
                <br/>
                <table id="display-table" class="table table-condensed">

                </table>
            </div> 
            <div class="box">
                <h3>Cast</h3>
                <br/>              
                <table id="cast-table" class="table table-condensed">
                    <tr>
                        <th>Photo</th>
                        <th>Name</th>
                        <th>Character</th>
                    </tr>
        
                    @foreach(var actor in Model.Actors)
                    {
                        <tr>
                            <td>
                                <img class="icon-actor" src="@actor.Photo" alt="No Artwork"/>
                            </td>
                            <td>
                                @actor.Name
                            </td>
                            <td>
                                @actor.CharacterName
                            </td>
                        </tr>  
                    }
                </table>
            </div>     
        </div>
        <div class="span3">
            @if(Model.NewEpisodes.Count != 0)
            {
                <div class="box blue-border">
                    <h2 style="text-align: center">Next Episodes</h2>
                </div>
 
                <div class="box blue-border">                        
                    @foreach(var episode in Model.NewEpisodes)
                    {
                        <dl>              
                            <dt>@episode.Date</dt>
                            <dd>
                                <span>S</span>@episode.Id.SeasonNumber
                                <span>E</span>@episode.Id.EpisodeNumber
                                <span> - </span>
                                <a href="@Url.Action("Index","Episodes", new { tvshowId = episode.Id.TvShowId, seasonNumber = episode.Id.SeasonNumber, episodeNumber = episode.Id.EpisodeNumber })">@episode.Name</a>
                            </dd>           
                        </dl>       
                    }
                </div>
            }
            <div id="similar-tvshows">
                <span id="tvshowId" class="hidden">@Model.TvShowId</span>
            </div>
        </div>
    </div>
</div>