@model STrackerServer.Models.TvShow.TvShowComments

@{
    ViewBag.Title = "Comments";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span3">
            <img class="img-rounded" src="@Model.Poster" alt="No Artwork"/>  

            <div class="extra-padding"></div> 

            <p>
                <a class="btn btn-block btn-primary" href="@Url.Action("Show","TvShowsWeb", new { tvshowId = Model.TvShowId })">@Model.TvShowName</a>
            </p> 

            <p>
                <a class="btn btn-block btn-primary" href="@Url.Action("CreateComment","TvShowsWeb", new { tvshowId = Model.TvShowId })">Create Comment</a>
            </p> 
        </div> 
        <div class="span6">
            <div class="box">
                <h2>Comments</h2>
                <br/>
                @foreach(var comment in Model.Comments)
                {
                    <div class="box-whiter">
                        <div style="display: inline">
                            <div style="text-align: right">
                                <div style="display: inline-block">
                                    @if (User.Identity.IsAuthenticated && comment.User.Id.Equals(User.Identity.Name))
                                    {
                                        <a class="btn btn-primary" href="@Url.Action("Comment", "TvShowsWeb", new {tvshowId = Model.TvShowId, id = comment.Id })"><b class="icon-wrench"></b></a>
                                    }
                                </div>
                            </div>
                            <div style="display: inline-block">
                                <a href="@Url.Action("Show","UsersWeb", new { id = comment.User.Id })">@comment.User.Name</a>
                            </div>
                            
                        </div>

                        <div>
                            <br/>
                            @comment.Body
                        </div>
                    </div> 
                }   
            </div>
        </div>
    </div>
</div>