@model STrackerServer.Models.TvShow.TvShowComments

@{
    ViewBag.Title = "Comments";
    Layout = "~/Views/Shared/CommentsLayout.cshtml";
}

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span3">
            <img class="img-rounded" src="@Model.Poster" alt="No Artwork"/>  

            <div class="extra-padding"></div> 

            <p>
                <a class="btn btn-block btn-primary" href="@Url.Action("Show","TvShowsWeb", new { tvshowId = Model.TvShowId })">@Model.TvShowName</a>
            </p> 

            <p>
                <a id="create-comment" data-toggle="modal" class="btn btn-block btn-primary" href="@Url.Action("CreateComment","TvShowsWeb", new { tvshowId = Model.TvShowId })">Create Comment</a>
            </p> 
            
            <div id="myModal" class="modal hide fade" style="color: black">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3>Modal header</h3>
                </div>
              <div class="modal-body">
                <p>One fine body…</p>
              </div>
              <div class="modal-footer">
                <a href="#" class="btn">Close</a>
                <a href="#" class="btn btn-primary">Save changes</a>
              </div>
            </div>

            
        </div> 
        <div class="span6">
            <div class="box">
                <h2 class="center">Comments</h2>
            </div>
            
            @if(Model.Comments.Count != 0)
            {
                <div class="box">    
                    @foreach(var comment in Model.Comments)
                    {
                        <a href="@Url.Action("Show","UsersWeb", new { id = comment.User.Id })">@comment.User.Name</a>
                        <div class="box-whiter blue-border">
                            <div style="text-align: right">
                                @if (User.Identity.IsAuthenticated && (Model.IsModerator || comment.User.Id.Equals(User.Identity.Name)))
                                {
                                    <a href="@Url.Action("Comment", "TvShowsWeb", new {tvshowId = Model.TvShowId, id = comment.Id })">Edit</a>
                                }
                            </div>
                            @comment.Body
                        </div> 
                    }   
                </div>
            }
        </div>
    </div>
</div>