@model STrackerServer.Models.TvShow.TvShowCommentView

@{
    ViewBag.Title = "Comment";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span3">
             @Html.Partial("TvShowOptions/TvShowEditCommentOptions", Model.Options)
        </div> 
        <div class="span6">
            <h2>Comment</h2>
            <div class="box">

                <p>@Model.UserId</p>
                @Model.Body

                @Html.ValidationSummary()
                @using (Html.BeginForm("RemoveComment", "TvShowsWeb"))
                {
                    @Html.Hidden("tvshowId", Model.TvShowId)
                    @Html.Hidden("timestamp", Model.Timestamp)
                    <input class="btn btn-danger btn-mini" type="submit" value="Remove"/>
                }  
            </div>  
        </div>
    </div>
</div>