@model STrackerServer.Models.TvShow.TvShowCommentsView

@{
    ViewBag.Title = "Comments";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span3">
            @Html.Action("TvShowPartialOptions","TvShowsWeb", new
            {
                tvshowId = Model.TvShowId, 
                unsubscribeRedirectUrl = Url.Action("Comments","TvShowsWeb", new { tvshowId = Model.TvShowId })
            })
        </div> 
        <div class="span6">
     
            <h2>Comments</h2>

            <div class="box">
                @for (var i = 0; i < Model.Comments.Count; i++)
                {
                    <div> 
                        <div class="box-whiter">
                            <div style="text-align: right">
                                @if (User.Identity.IsAuthenticated && Model.Comments.ElementAt(i).UserId.Equals(User.Identity.Name))
                                {
                                    <a href="@Url.Action("CommentsEdit", "TvShowsWeb", new {tvshowId = Model.TvShowId, position = i})">Edit</a>
                                }
                            </div>
                            <p>@Model.Comments.ElementAt(i).UserId</p>
                            @Model.Comments.ElementAt(i).Body  
                        </div> 
                    </div>
                }      
            </div>
            
            @if(User.Identity.IsAuthenticated)
            {
                <div class="box">
                    @Html.ValidationSummary()       
                    @using (Html.BeginForm("Comments", "TvShowsWeb"))
                    {
                        @Html.Hidden("TvShowId", Model.TvShowId)
                        <textarea class="btn-block comments-textarea" id="Body" name="Body"></textarea>
                        <input class="btn btn-primary" type="submit" value="Add Comment"/>
                    }   
                </div>
            }
        </div>
    </div>
</div>