@model STrackerServer.Models.TvShow.TvShowView

@{
    ViewBag.Title = @Model.Name;
    Layout = "~/Views/Shared/MainLayout.cshtml";
}

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span3">
            <img class="img-rounded" src="@Model.Poster" alt="No Artwork"/>  

            <div class="extra-padding"></div> 
            @if (User.Identity.IsAuthenticated)
            {
                using (Html.BeginForm("Subscribe", "TvShowsWeb", new { tvshowId = Model.TvShowId }))
                {
                    @Html.Hidden("RedirectUrl", Url.Action("Show","TvShowsWeb", new { tvshowId = Model.TvShowId }))

                    if (Model.IsSubscribed)
                    {
                        @Html.Hidden("isSubscribing", false)
                        <input class="btn btn-block btn-danger" type="submit" value="Unsubscribe"/>
                    }else
                    {
                        @Html.Hidden("isSubscribing", true)
                        <input class="btn btn-block btn-success" type="submit" value="Subscribe"/>
                    }  
                }  
            }else
            {
                <p>
                    <a class="btn btn-block btn-success" href="@Url.Action("Login","Account", new { returnUrl =  Url.Action("Show","TvShowsWeb", new { tvshowId = Model.TvShowId })})">Subscribe</a>
                </p>  
            }
            

            <p>
                <a class="btn btn-block btn-primary" href="@Url.Action("Rate","TvShowsWeb", new { tvshowId = Model.TvShowId })">Rate</a>
            </p> 
            <p>
                <a class="btn btn-block btn-primary" href="@Url.Action("Suggest","TvShowsWeb", new { tvshowId = Model.TvShowId })">Suggest</a>
            </p>  
            <p>
                <a class="btn btn-block btn-primary" href="@Url.Action("Comments","TvShowsWeb", new { tvshowId = Model.TvShowId })">Comments</a>
            </p>
        </div> 
        <div class="span6">
            <div class="box">
                <h2>@Model.Name</h2>
                <p>@Model.Description</p> 
                <p><b>Rating: </b> @Model.Rating/5</p>
                <p><b>Air Day: </b> @Model.AirDay</p>
                <p><b>Runtime: </b> @Model.Runtime min</p>              
                <p><a href="http://www.imdb.com/title/@Model.TvShowId">IMDB</a></p>  

                <p><b>Genre:</b></p>
                <ul>
                    @foreach(var genre in Model.Genres)
                    {
                        <li>
                            <a href="@Url.Action("Show","GenreWeb", new { name = genre.Id })">@genre.Id</a>
                        </li>            
                    }
                </ul>
            </div>     
            <div class="box">
                <b> Seasons:</b>
                <a href="@Url.Action("Show", "SeasonsWeb", new { tvshowId = Model.TvShowId, seasonNumber = Model.SeasonSynopses[0].SeasonNumber })">@Model.SeasonSynopses[0].SeasonNumber</a> 
                @for (var i = 1; i < Model.SeasonSynopses.Count; i++ )   
                {
                    <b>| </b><a href="@Url.Action("Show", "SeasonsWeb", new { tvshowId = Model.TvShowId, seasonNumber = Model.SeasonSynopses[i].SeasonNumber })">@Model.SeasonSynopses[i].SeasonNumber</a>  
                }
            </div> 
            <div class="box">
                <h2>Cast</h2>
                <br/>
                  
                <table class="table table-condensed">
                    <tr>
                        <th>Photo</th>
                        <th>Name</th>
                        <th>Character</th>
                    </tr>
        
                    @foreach(var actor in Model.Actors)
                    {
                        <tr>
                            <td>
                                @if(actor.Photo != null)
                                {
                                    <img class="icon-actor" src="@actor.Photo" alt="No Artwork"/>
                                }
                                else
                                {
                                    <img class="icon-actor" src="https://dl.dropboxusercontent.com/u/2696848/default-profile-pic.jpg" alt="No Artwork"/>
                                }
                            </td>
                            <td>
                                @actor.Name
                            </td>
                            <td>
                                @actor.CharacterName
                            </td>
                        </tr>  
                    }
                </table>
            </div>     
        </div>
    </div>
</div>