@model STrackerServer.Models.TvShow.TvShowView

@{
    ViewBag.Title = @Model.Name;
    Layout = "~/Views/Shared/MainLayout.cshtml";
}

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span3">  
            @Html.Partial("TvShowOptions", Model.Options)
        </div> 
        <div class="span6">
            <div class="box">
                <h2>@Model.Name</h2>
                <p>@Model.Description</p> 
                <p><b>Air Day: </b> @Model.AirDay</p>
                <p><b>Runtime: </b> @Model.Runtime min</p>              
                <p><a href="http://www.imdb.com/title/@Model.TvShowId">IMDB</a></p>  

                <p><b>Genre:</b></p>
                <ul>
                    @foreach(var genre in Model.Genres)
                    {
                        <li>@genre.Id</li>            
                    }
                </ul>
            </div>     
            <div class="box">
                <b> Seasons:</b>
                <a href="@Url.Action("Show", "SeasonsWeb", new { tvshowId = Model.TvShowId, number = Model.SeasonSynopses[0].SeasonNumber })">@Model.SeasonSynopses[0].SeasonNumber</a> 
                @for (var i = 1; i < Model.SeasonSynopses.Count; i++ )   
                {
                    <b>| </b><a href="@Url.Action("Show", "SeasonsWeb", new { tvshowId = Model.TvShowId, number = Model.SeasonSynopses[i].SeasonNumber })">@Model.SeasonSynopses[i].SeasonNumber</a>  
                }
            </div> 
            <div class="box">
                <h2>Cast</h2>
                <br/>
                  
                <table class="table table-condensed">
                    <tr>
                        <th>Photo</th>
                        <th>Name</th>
                        <th>Character</th>
                    </tr>
        
                    @foreach(var actor in Model.Actors)
                    {
                        <tr>
                            <td>
                                @if(actor.Photo != null)
                                {
                                    <img class="icon-actor" src="@actor.Photo.ImageUrl" alt="No Artwork"/>
                                }
                                else
                                {
                                    <img class="icon-actor" src="https://dl.dropboxusercontent.com/u/2696848/default-profile-pic.jpg" alt="No Artwork"/>
                                }
                            </td>
                            <td>
                                @actor.Name
                            </td>
                            <td>
                                @actor.CharacterName
                            </td>
                        </tr>  
                    }
                </table>
            </div>     
        </div>
    </div>
</div>