@model STrackerServer.Models.User.SuggestView

@{
    ViewBag.Title = "Suggest";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span3">
            <img class="img-rounded" src="@Model.Poster" alt="No Artwork"/>  

            <div class="extra-padding"></div> 

            <p>
                <a class="btn btn-block btn-primary" href="@Url.Action("Show","TvShowsWeb", new { tvshowId = Model.TvShowId })">@Model.TvShowName</a>
            </p> 
        </div> 

        <div class="span6">
            <div class="box">
                <h3>Friends</h3>
                <br/>
                <table class="table table-condensed">
                    <tr>                       
                        <th>Name</th>
                        <th></th>
                    </tr>
                    
                    @foreach(var friend in Model.Friends)
                    {
                        <tr>
                            <td>
                                <a href="@Url.Action("Show","UsersWeb", new { id = friend.Id })">@friend.Name</a>
                            </td>
                            <td>
                                @if(friend.IsSubscribed)
                                {
                                    <div style="text-align: right">Already Subscribed</div>
                                }else
                                {
                                    using(Html.BeginForm("Suggest","TvShowsWeb",FormMethod.Post))
                                    {
                                        @Html.Hidden("FriendId",friend.Id)
                                        @Html.Hidden("TvShowId",Model.TvShowId)
                                        <input class="btn btn-block btn-mini btn-primary" type="submit" value="Suggest"/>
                                    }
                                }
                            </td>
                        </tr>  
                    }
                </table>
            </div>
        </div>      
    </div>
</div>
