@model STrackerServer.Models.Episode.EpisodeView

@{
    ViewBag.Title = Model.Name;
    Layout = "~/Views/Shared/MainLayout.cshtml";
}

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span3">
            @Html.Partial("Options/EpisodeOptionsView", Model.Options)          
        </div>
        <div class="span6">
            <div class="box">
                
                <h3>@Model.Name</h3> 
                <p>Season @Model.SeasonNumber, Episode @Model.EpisodeNumber</p> 
                <br/>
                <p>@Model.Description</p>
                <br/>          

                @if (Model.Directors.Count != 0)
                {
                    <p><b>Directors:</b></p>
                    <ul>
                        @foreach(var director in Model.Directors)
                        {
                            <li>@director.Name</li>
                        }                           
                    </ul>
                }     
                @if (Model.GuestActors.Count != 0)
                {
                    <p><b>Guest Actors:</b></p>
                    <ul>
                        @foreach (var actor in Model.GuestActors)
                        {
                            <li>@actor.Name</li>
                        }                           
                    </ul>
                }                     
            </div>
        </div>  
    </div>
</div>