@model STrackerServer.Models.User.PublicFriendsView

@{
    ViewBag.Title = "Friends";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span3">
            <div class="box">
                <div style="text-align: center">
                    <a href="@Url.Action("Index","Users", new { id = Model.Id })">
                       <img class="img-rounded" src="@Model.PictureUrl" alt="No Artwork"/> 
                    </a>
                </div> 
                <br/>
                <div style="text-align: center">
                    <a href="@Url.Action("Index","Users", new { id = Model.Id })">@Model.Name</a>
                </div>
                <div class="extra-padding"></div>
                <a class="btn btn-block btn-primary" href="@Url.Action("Friends","Users", new { id = Model.Id })">Friends</a>
            </div>
        </div>

        <div class="span6">
            <div class="box">
                <h2 class="center">Friends</h2> 
            </div>
            @if (Model.List.Count != 0)
            {
                <div class="box">
                    <table class="table table-condensed">
                        @foreach (var friend in Model.List)
                        {
                            <tr>
                                <td>
                                    <a href="@Url.Action("Index","Users", new { id = friend.Id })">@friend.Name</a>
                                </td>
                            </tr>
                        }   
                    </table>
                </div> 
            } 
        </div>
    </div>
</div>