@model STrackerServer.Models.User.UserPublicView

@{
    ViewBag.Title = Model.Name;
    Layout = "~/Views/Shared/MainLayout.cshtml";
}

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span3">
            <div class="box">

                <div style="text-align: center">
                    <a href="@Url.Action("Index","Users", new { id = Model.Id })">
                       <img class="img-rounded" src="@Model.PictureUrl" alt="No Artwork"/> 
                    </a>
                </div>
                <div class="extra-padding">
                </div>
                @if (!Model.IsFriend)
                {
                    using (Html.BeginForm("Invite", "User"))
                    {
                        @Html.Hidden("UserId", Model.Id)
                        <input class="btn btn-block btn-primary" type="submit" value="Invite"/>
                    }
                }
                <p>
                    <a class="btn btn-block btn-primary" href="@Url.Action("Friends","Users", new { id = Model.Id })">Friends</a>
                </p>
                
                @if (Model.AdminMode && !Model.IsAdmin)
                {
                    <p>
                        <a class="btn btn-block btn-primary" href="@Url.Action("Permission","Users", new { id = Model.Id })">Permissions</a>
                    </p>
                } 
            </div>
        </div>

        <div class="span6">
            <div class="box">
                <h2 class="center">Subscriptions</h2> 
            </div>   
            
            @if (Model.SubscriptionList.Count != 0)
            {
                for (var i = 0; i < Math.Ceiling(Model.SubscriptionList.Count / (double)4); i++)
                {
                    <div class="row-fluid">
                        @for (var index = 4 * i; (index < (4* (i + 1))) && index < Model.SubscriptionList.Count; index++)
                        {
                            <div class="span3" style="text-align: center">
                                <div class="box-whiter">
                                    <div class="row-fluid">
                                        <a href="@Url.Action("Index","TvShows", new { id = Model.SubscriptionList[index].TvShow.Id })">
                                            <img src="@Model.SubscriptionList[index].TvShow.Poster" alt="No Image"/>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        }     
                    </div>
                }
            }
        </div>
    </div>
</div>