@model STrackerServer.Models.User.UserSearchResult

@{
    ViewBag.Title = "Search User";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            <div class="row center">
                @using (Html.BeginForm("Search", "Users", FormMethod.Get))
                {
                    <div class="form-inline">
                        <input data-val="true" data-val-required="The field is required." id="UserSearch" type="text" name="name" value="@Model.SearchValue" placeholder="Name" class="input-large"/>
                        <button type="submit" class="btn btn-primary"><b class="icon-search"></b></button>
                    </div>                 
                }
            </div>
        </div>
    </div>
@{
    /*
        for (var i = 0; i < Math.Ceiling(Model.Result.Count / (double)6); i++)
        {
            <div class="row-fluid">
                @for (var index = 6*i; (index < (6 * (i+1))) && index < Model.Result.Count; index++)
                {
                    <div class="span2" style="text-align: center">
                        <div class="box-whiter blue-border">
                            <div class="row-fluid">
                                <img src="@Model.Result.ElementAt(index).Photo" alt="No Image"/>
                            </div>
                            <br/>
                            <div class="row-fluid">
                                <a class="btn btn-block btn-primary" href="@Url.Action("Index","Users", new { id = Model.Result.ElementAt(index).Id })">@Model.Result.ElementAt(index).Name</a>
                            </div>
                        </div>
                    </div>
                }     
            </div>
        }
     */
}
    @if(Model.Result.Count != 0){
        <div class="row-fluid">
            <div class="span3"></div>
            <div class="span6">
                <div class="box">
                    <h3>Users</h3>
                    <br/>              
                    <table id="cast-table" class="table table-condensed">
                        <tr>
                            <th>Photo</th>
                            <th>Name</th>
                        </tr>
        
                        @foreach(var user in Model.Result)
                        {
                            <tr>
                                <td>
                                    <a href="@Url.Action("Index","Users", new { id = user.Id})">
                                        <img class="user-photo" src="@user.Photo" alt="No Artwork"/>
                                    </a>
                                </td>
                                <td>
                                    <a href="@Url.Action("Index","Users", new { id = user.Id})">
                                        @user.Name
                                    </a>
                                </td>
                            </tr>  
                        }
                    </table>
                </div>  
            </div>
            <div class="span3"></div>
        </div>
    }
</div>
