<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>

    <link href="@Url.Content("~/Content/bootstrap.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/bootstrap-responsive.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/bootstrap-responsive.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/StrackerStyle.css")" rel="stylesheet" type="text/css" />
    <link rel="icon" type="image/png" href="~/Content/images/tv.png">

    <script src="@Url.Content("~/Scripts/jquery-2.0.0.js")" type="text/javascript"></script> 
    <script src="@Url.Content("~/Scripts/bootstrap.js")" type="text/javascript"></script> 

    <script src="@Url.Content("~/Scripts/STracker/Typeahead.js")" type="text/javascript"></script> 
    <script src="@Url.Content("~/Scripts/STracker/CreateCommentModal.js")" type="text/javascript"></script> 
</head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <ul class="nav">
                        <li class="divider-vertical"></li>  
                        <li><a href="@Url.Action("Index","HomeWeb")"> Home </a></li>
                        <li class="divider-vertical"></li>    
                        <li><a href="@Url.Action("Api","HomeWeb")"> API </a></li>
                        <li class="divider-vertical"></li>
                        <li>
                            <form action="@Url.Action("GetByName","TvShowsWeb")" method="GET" class="navbar-form pull-left">
                                <input id="TvShowSearch" type="text" name="name" placeholder="Tv Show" autocomplete="off" class="typeahead"/>
                                <button type="submit" class="btn btn-primary"><b class="icon-search"></b></button>
                            </form>
                        </li>
                    </ul>
                    <ul class="nav pull-right">
                        @if (HttpContext.Current.User.Identity.IsAuthenticated)
                        {   
                            <li class="divider-vertical"></li>
                            <li><a href="@Url.Action("GetByName","UsersWeb")"> Find Buddy </a></li>
                            <li class="divider-vertical"></li> 
                            <li>@Html.ActionLink("Profile","Index","UsersWeb")</li>
                            <li class="divider-vertical"></li>
                            <li>@Html.ActionLink("Logout", "Logout", "Account")</li>
                            <li class="divider-vertical"></li>
                        }
                        else
                        {
                            <li class="divider-vertical"></li>
                            @* ReSharper disable PossibleNullReferenceException *@
                            <li>@Html.ActionLink("Login", "Login", "Account", new { returnUrl = Request.Url.PathAndQuery }, null)</li>
                            @* ReSharper restore PossibleNullReferenceException *@
                            <li class="divider-vertical"></li>
                        }
                    </ul>
                </div>
            </div>
        </div>
        <div>
            @RenderBody()
        </div>
    </body>
</html>
