<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>

    <link href="@Url.Content("~/Content/bootstrap.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/bootstrap-responsive.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/bootstrap-responsive.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/StrackerStyle.css")" rel="stylesheet" type="text/css" />

</head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <ul class="nav">
                        <li class="divider-vertical"></li>  
                        <li><a href="@Url.Action("Index","HomeWeb")"> Home </a></li>
                        <li class="divider-vertical"></li>  
                        <li><a href="@Url.Action("Contact","HomeWeb")"> Contact </a></li>
                        <li class="divider-vertical"></li>  
                    </ul>
                    <ul class="nav pull-right">
                        @if (!HttpContext.Current.User.Identity.IsAuthenticated)
                        {
                            <li class="divider-vertical"></li>
                            <li>@Html.ActionLink("Login", "Login", "Account", new { returnUrl = Request.Url.ToString() }, null)</li>
                            <li class="divider-vertical"></li>
                        }
                        else
                        {
                            <li class="divider-vertical"></li>
                            <li>@Html.ActionLink("Profile","Show","UsersWeb",new { id = User.Identity.Name }, null)</li>
                            <li class="divider-vertical"></li>
                            <li>@Html.ActionLink("Logout", "Logout", "Account")</li>
                            <li class="divider-vertical"></li>
                        }
                    </ul>
                </div>
            </div>
        </div>
        <div>
            @RenderBody()
        </div>
    </body>
</html>
