@model STrackerServer.Models.Home.HomeView

@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span9">
            @if(Model.TopRated.Count != 0)
            {
                for (var i = 0; i < Math.Ceiling(Model.TopRated.Count / (double)4); i++)
                {
                    <div class="row-fluid">
                        @for (var index = 4 * i; (index < (4 * (i + 1))) && index < Model.TopRated.Count; index++)
                        {
                            <div class="span3" style="text-align: center">
                                <div class="box-whiter">
                                    <div class="row-fluid">
                                        <a href="@Url.Action("Index", "TvShows", new { id = @Model.TopRated.ElementAt(index).Id })">
                                            <img src="@Model.TopRated.ElementAt(index).Poster" alt="No Image"/>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        }     
                    </div>   
                }
            }   
            <div class="box">
                <div class="row-fluid">
                    @if(Model.Genres.Count != 0)
                    {
                        for (var i = 0; i < Math.Ceiling(Model.Genres.Count / (double)6); i++)
                        {
                            <div class="row-fluid">
                                @for (var index = 6 * i; (index < (6 * (i + 1))) && index < Model.Genres.Count; index++)
                                {
                                    <div class="span2">
                                        <div class="row-fluid">
                                            <a class="grey-text" href="@Url.Action("Index", "Genres", new { id = @Model.Genres.ElementAt(index).Id })">
                                                <span >@Model.Genres.ElementAt(index).Name.ToUpper()</span>
                                            </a>
                                        </div>
                                    </div>
                                }     
                            </div>   
                        }
                    }  
                </div>                
            </div>
        </div>
        <div class="span3">
            @if(Model.NewEpisodes.Count != 0)
            {
                <div class="box grey-border">
                    <h2 class="grey-text" style="text-align: center">Next episodes</h2>                        
                    @foreach(var entry in Model.NewEpisodes)
                    {
                        <dl>
                            <dt><a href="@Url.Action("Index", "TvShows", new { id = entry.TvShow.Id })">@entry.TvShow.Name</a></dt>
                            @foreach (var episode in entry.Episodes)
                            {
                                <dd>
                                    <span>S</span>@if(episode.Id.SeasonNumber < 10){<span>0</span>}@episode.Id.SeasonNumber
                                    <span>E</span>@if(episode.Id.EpisodeNumber < 10){<span>0</span>}@episode.Id.EpisodeNumber
                                    <span> - <a href="@Url.Action("Index","Episodes", new { tvshowId = episode.Id.TvShowId, seasonNumber = episode.Id.SeasonNumber, episodeNumber = episode.Id.EpisodeNumber })">@episode.Name</a> - @episode.Date</span>
                                </dd>
                            }
                        </dl>
                    }
                </div>
            }
        </div>
    </div>
</div>