@model STrackerServer.Models.Home.HomeView

@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span9">
                @if(Model.TopRated.Count != 0)
                {
                    {
                        for (var i = 0; i < Math.Ceiling(Model.TopRated.Count / (double)4); i++)
                        {
                            <div class="row-fluid">
                                @for (var index = 4 * i; (index < (4 * (i + 1))) && index < Model.TopRated.Count; index++)
                                {
                                    <div class="span3" style="text-align: center">
                                        <div class="box-whiter">
                                            <div class="row-fluid">
                                                <a href="@Url.Action("Index", "TvShows", new { id = @Model.TopRated.ElementAt(index).Id })">
                                                    <img src="@Model.TopRated.ElementAt(index).Poster" alt="No Image"/>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                }     
                            </div>
                        }
                    }
                }   
        </div>
        <div class="span3">
            <div class="box blue-border">
                <h2 style="text-align: center">Next Episodes</h2>
            </div>    
            
            @if (Model.NewEpisodes.Count != 0)
            {
                <div class="box blue-border">
                    <div class="accordion" id="accordion">
                        @foreach(var obj in Model.NewEpisodes)
                        {
                            <div class="accordion-group">
                                <div class="accordion-heading">
                                    <a class="accordion-toggle center" data-toggle="collapse" data-parent="#accordion" href="#@obj.TvShow.Id">
                                        @obj.TvShow.Name
                                    </a>
                                </div>
                                <div id="@obj.TvShow.Id" class="accordion-body collapse">
                                    <div class="accordion-inner">                                   
                                        <dl>
                                            @foreach(var episode in obj.Episodes)
                                            {
                                                <dt>@episode.Date</dt>
                                                <dd><a href="@episode.Uri">@episode.Name</a></dd>
                                            } 
                                        </dl>
                                                                         </div>
                                </div>     
                            </div>        
                        }
                    </div>
                </div>
            }
        </div>
    </div>
</div>



