@model STrackerServer.Models.User.FriendsView

@{
    ViewBag.Title = Model.Name;
    Layout = "~/Views/Shared/MainLayout.cshtml";
}

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span3">
            <div class="box">
                <div style="text-align: center">
                    <a href="@Url.Action("Index","User")">
                        <img class="img-rounded" src="@Model.PictureUrl" alt="No Artwork"/>
                    </a>
                </div> 
                <div class="extra-padding"></div>
                @Html.Partial("User/Nav")
            </div>
        </div>

        <div class="span6">
            <div class="box center">
                <h2>Friends</h2> 
            </div>
            @if (Model.List.Count != 0)
            {
                <div class="box">    
                    <table class="table table-condensed">
                        @foreach (var friend in Model.List)
                        {
                            <tr>
                                <td>
                                    <a href="@Url.Action("Index","Users", new { id = friend.Id })">@friend.Name</a>
                                </td>
                                <td>
                                    @using (Html.BeginForm("Friends", "User"))
                                    {
                                        @Html.Hidden("id", friend.Id)
                                        <input class="btn btn-mini btn-block btn-danger" type="submit" value="Remove"/>
                                    }
                                </td>
                            </tr>
                         }
                    </table>
                </div>
             }
        </div>
    </div>
</div>