@model STrackerServer.Models.User.UserPrivateView

@{
    ViewBag.Title = Model.Name;
    Layout = "~/Views/Shared/MainLayout.cshtml";
}

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span3">
            <div class="box">
                <div style="text-align: center">
                    <a href="@Url.Action("Index","User")">
                        <img class="img-rounded" src="@Model.PictureUrl" alt="No Artwork"/>
                    </a>
                </div>
                <div class="extra-padding"></div> 
                @Html.Partial("User/Nav")
                @if(Model.IsAdmin)
                {
                    <a class="btn btn-block btn-primary" href="@Url.Action("Permission","Users", new { id = Model.Id })">Permissions</a>
                }
            </div>
        </div>

        <div class="span6">
            <div class="box">
                <h2 class="center">Subscriptions</h2> 
            </div>
            
                @if (Model.SubscriptionList.Count != 0)
                {
                    for (var i = 0; i < Math.Ceiling(Model.SubscriptionList.Count / (double)4); i++)
                    {
                        <div class="row-fluid">
                            @for (var index = 4 * i; (index < (4* (i + 1))) && index < Model.SubscriptionList.Count; index++)
                            {
                                <div class="span3" style="text-align: center">
                                    <div class="box-whiter">
                                        <div class="row-fluid">
                                            <a href="@Url.Action("Index","TvShows", new { id = Model.SubscriptionList[index].TvShow.Id })">
                                                <img src="@Model.SubscriptionList[index].TvShow.Poster" alt="No Image"/>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            }     
                        </div>
                    }
                }
              
        </div>
        <div class="span3">
            <div class="box blue-border">
                <h2 style="text-align: center">Next Episodes</h2>
            </div>
            @{
                /*
                if(Model.NewEpisodes.Count != 0)
            {
                <div class="box blue-border">
                    <div class="accordion" id="accordion">
                        @foreach(var obj in Model.NewEpisodes)
                        {
                        <div class="accordion-group">
                            <div class="accordion-heading">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#@obj.TvShow.Id">
                                    @obj.TvShow.Name
                                </a>
                            </div>
                            <div id="@obj.TvShow.Id" class="accordion-body collapse">
                                <div class="accordion-inner">
                                     @foreach(var episode in obj.Episodes)
                                     {
                                         <p>S<span>@episode.SeasonNumber</span>E<span>@episode.EpisodeNumber</span> <a href="@episode.Uri">@episode.Name</a> - @episode.Date</p>
                                     }  
                                </div>
                            </div>     
                        </div>        
                        }
                    </div>
                </div>
            }*/
            }
            
        </div>
    </div>
</div>