@model STrackerServer.Models.User.SuggestionsView

@{
    ViewBag.Title = "Suggestions";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span3">
            <div class="box">
                <div style="text-align: center">
                    <a href="@Url.Action("Index","User")">
                        <img class="img-rounded" src="@Model.PictureUrl" alt="No Artwork"/>
                    </a>
                </div> 
                <div class="extra-padding"></div>
                @Html.Partial("User/Nav") 
            </div>
        </div>
        <div class="span6">
            <div class="box" style="text-align: center">
                <h2>Suggestions</h2>
            </div>

            @foreach (var tvshowId in Model.Suggestions.Keys)
            {
 
                <div class="box">
                    <div>
                        <div style="display: inline">
                   
                            <div style="display: inline-block">
                                <div>
                                    <h3>
                                        <a href="@Url.Action("Index","TvShows", new { id = tvshowId })">
                                            @Model.Suggestions[tvshowId].TvShowName
                                        </a>
                                    </h3>
                                </div>
                            </div>
                            <div style="display: inline-block">
                                <div style="text-align: right">
                                    @using (Html.BeginForm("Suggestions", "User", new { tvshowId }))
                                    {
                                        <button type="submit" class="btn-small btn-link" style="color: red">(Remove)</button>
                                    }
                                </div>
                            </div>   
                        </div>
                    </div>
               
                    <table class="table table-condensed">
                        @foreach (var friend in Model.Suggestions[tvshowId].Friends)
                        {
                            <tr>
                                <td>
                                    <a href="@Url.Action("Index","Users", new { id = friend.Id })">@friend.Name</a>
                                </td>
                            </tr>
                        }
                    </table>
                </div> 
            }
        </div>
    </div>
</div>
