@model STrackerServer.Models.User.EpisodesWatchedView

@{
    ViewBag.Title = "Episodes Watched";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span3">
            <div class="box">
                <div style="text-align: center">
                    <a href="@Url.Action("Index","User")">
                        <img class="img-rounded" src="@Model.PictureUrl" alt="No Artwork"/>
                    </a>
                </div> 
                <div class="extra-padding"></div>
                @Html.Partial("User/Nav")
            </div>
        </div>

        <div class="span6">
            <div class="box center">
                <h2>Episodes Watched</h2> 
            </div>
            
            @foreach(var sub in Model.List.Where(view => view.EpisodesWatched.Count != 0))
            {
                <div class="box">
                    <h3>
                        <a href="@Url.Action("Index", "TvShows", new { id = sub.TvShow.Id })">
                           @sub.TvShow.Name 
                        </a>
                    </h3> 
                    @foreach(var season in sub.EpisodesWatched.Keys.OrderBy(i => i))
                    {           
                        <div class="box-whiter">
                            <h4>
                                <a href="@Url.Action("Index", "Seasons", new { tvshowId = sub.TvShow.Id , seasonNumber = season })">
                                    Season @season
                                </a>
                            </h4> 
                            <table class="table table-condensed">
                                @foreach(var episode in sub.EpisodesWatched[season].OrderBy(synopsis => synopsis.Id.EpisodeNumber))
                                {
                                    <tr>
                                        
                                        <td>
                                            Episode @episode.Id.EpisodeNumber -
                                            <a href="@Url.Action("Index","Episodes", new { tvshowId = episode.Id.TvShowId, seasonNumber = episode.Id.SeasonNumber, episodeNumber = episode.Id.EpisodeNumber })">
                                                @episode.Name
                                            </a>
                                        </td>
                                    </tr>
                                }
                            </table>
                        </div>
                    }
                </div>
            }
        </div>
    </div>
</div>